USE [WEBSALES]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Name] [nvarchar](50) NOT NULL,
    [NameVN] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]

    GO

    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Customers](
    [Id] [nvarchar](20) NOT NULL,
    [Password] [nvarchar](50) NOT NULL,
    [Fullname] [nvarchar](50) NOT NULL,
    [Email] [nvarchar](50) NOT NULL,
    [Photo] [nvarchar](50) NOT NULL,
    [Activated] [bit] NOT NULL,
    [Admin] [bit] NOT NULL,
    CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]

    GO

    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[OrderDetails](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [OrderId] [int] NOT NULL,
    [ProductId] [int] NOT NULL,
    [UnitPrice] [float] NOT NULL,
    [Quantity] [int] NOT NULL,
    [Discount] [float] NOT NULL,
    CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]

    GO

    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Orders](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [CustomerId] [nvarchar](20) NOT NULL,
    [OrderDate] [datetime] NOT NULL,
    [Address] [nvarchar](60) NOT NULL,
    [Amount] [float] NOT NULL,
    [Description] [nvarchar](1000) NULL,
    [Status] [int] NULL,
    CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]

    GO

    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Products](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Name] [nvarchar](60) NOT NULL,
    [Image] [nvarchar](50) NOT NULL,
    [UnitPrice] [float] NOT NULL,
    [Discount] [float] NOT NULL,
    [Quantity] [int] NOT NULL,
    [ProductDate] [date] NOT NULL,
    [Available] [bit] NOT NULL,
    [CategoryId] [int] NOT NULL,
    [Description] [nvarchar](max) NULL,
    [ViewCount] [int] NULL,
    CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

    GO
    SET IDENTITY_INSERT [dbo].[Categories] ON

    INSERT [dbo].[Categories] ([Id], [Name], [NameVN]) VALUES (1000, N'Watches', N'Đồng hồ đeo tay')
    INSERT [dbo].[Categories] ([Id], [Name], [NameVN]) VALUES (1001, N'Laptops', N'Máy tính xách tay')
    INSERT [dbo].[Categories] ([Id], [Name], [NameVN]) VALUES (1002, N'Cameras', N'Máy ảnh')
    SET IDENTITY_INSERT [dbo].[Categories] OFF
    INSERT [dbo].[Customers] ([Id], [Password], [Fullname], [Email], [Photo], [Activated], [Admin]) VALUES (N'nghialuong', N'123', N'Lương Khánh Nghĩa', N'19130150@st.hcmuaf.edu.com.vn', N'user.png', 1, 1)
    INSERT [dbo].[Customers] ([Id], [Password], [Fullname], [Email], [Photo], [Activated], [Admin]) VALUES (N'nynguyen', N'123', N'Nguyễn Ny', N'19130165@st.hcmuaf.edu.com.vn', N'user.png', 1, 1)
    INSERT [dbo].[Customers] ([Id], [Password], [Fullname], [Email], [Photo], [Activated], [Admin]) VALUES (N'hien123', N'123456', N'Dương Thị Hiền', N'trinhtuanvuu@gmail.com', N'user.png', 1, 0)

    SET IDENTITY_INSERT [dbo].[OrderDetails] ON

    INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (1, 8, 1016, 17.45, 1, 0)
    INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (2, 9, 1044, 19.45, 1, 0)
    INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (3, 9, 1003, 10, 1, 0)
    SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
    SET IDENTITY_INSERT [dbo].[Orders] ON

    INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [Address], [Amount], [Description], [Status]) VALUES (10, N'nghialuong', CAST(N'2023-05-05 00:00:00.000' AS DateTime), N'', 117.5, N'', 0)
    INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [Address], [Amount], [Description], [Status]) VALUES (11, N'nghialuong', CAST(N'2023-05-05 00:00:00.000' AS DateTime), N'25 man thiện p.hiep phu quận 9', 91.8, N'<i><u style="background-color: rgb(51, 102, 153);"><font color="#6600ff">test</font></u></i>', 2)
    INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [Address], [Amount], [Description], [Status]) VALUES (12, N'nghialuong', CAST(N'2023-05-05 00:00:00.000' AS DateTime), N'25 man thiện p.hiep phu quận 9', 214.2, N'<br>', 4)
    SET IDENTITY_INSERT [dbo].[Orders] OFF
    SET IDENTITY_INSERT [dbo].[Products] ON

    SET IDENTITY_INSERT [dbo].[Products] OFF

    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE  PROC [dbo].[SP_getAllProduct]
as
begin
SELECT * FROM Products

end

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_insertCategory]
(
@Na nvarchar(50),
@NaVN nvarchar(50)

 ) as
begin
INSERT INTO Categories(Name,NameVN) values(@Na ,@NaVN)
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[SP_SearchProducts]( @MaxPrice Float = 0,
@MinPrice float = 0)
as
begin
SELECT * FROM Products where UnitPrice between @MinPrice and @MaxPrice

end
GO
